.imga{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga1{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga2{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga3{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga4{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga5{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga6{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
  
    position: relative;
}
.imga7{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga8{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga9{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga10{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.imga11{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #585858;
    border-radius: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-image: none;
}
